.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#Home:hover {
  background-color: rgb(244, 244, 244);
  color: #282c34;
}

.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;

}

.deleteButton {
  border-radius: 10px;
  border-color: red;
  font-size: 8px;
}

.movieCard {
  padding: 10px;
  /* border: solid black; */
  border-radius: 10px;
  margin: 8px;
  width: 130px;
  background-color: rgb(244, 244, 244);
  color: black;
}

.formLabel {
  font-style: italic;
  font-size: 1.5em;
}

.reviewContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.reviewedMovie {


  border-radius: 15px;
  width: 40%;
  align-self: center;
  position: relative;
  margin: 5px;
  background-color: rgb(244, 244, 244);
}

.movieTitle {
  border-bottom: solid black;
  width: 80%;
  margin: auto;
  font-style: italic;
}

.starRating {
  font-weight: bold;
  font-style: italic;
}

.poemLine {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5em;
}

.formContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.haikuSubmitForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-color: goldenrod;
  width: 40%;
  border-radius: 20px;
  padding: 5px;
  background-color: rgb(244, 244, 244);
}

.usersContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.userCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  border-radius: 20px;
  padding: 5px;
  background-color: rgb(244, 244, 244);
  margin-bottom: 10px;
}